@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}

/* navbar section style */
.menu-container{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
 
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 450px;
    width: 50%;

}
.logo img{
    width: 45px;
    margin-right: 20px;
    
    
}
.logo h2{
    color: #0B0223;
    font-weight: 700;

}
.G{
    color: rgb(240, 36, 162);
}

.menus{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 120px;  
}
.menus a{
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;

}
.menu-social{
    display: flex;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 8px;
    
}



/* responsive for mobile devices */

@media screen and (max-width: 576px) {
    .menu-container, .menus{
        flex-direction: column;
    }
    .menu-container{
        margin-left: 140px;
        
    }
    .logo{
        margin-left: 260px;
    }
    .menus a{
        margin-top: 10px;
    }
    .menu-social{
        margin-top: 10px;
    }
  }